APP_NAME=Validación de honorarios
APP_ENV=development
LOG_LEVEL=INFO

DB_HOST=aws-0-sa-east-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.bmbbkujeboyobivxmcnl
DB_PASSWORD=val-hon-22-od

DOCUMENTS_DIR=data/documentos